body {
    min-width: 300px;
    overflow: auto;
}

.tab-pane {}

#friends {
    overflow-y: scroll;
    max-height: 400px;
}
#refresh_user{

}
.friend {
    padding-bottom: 10px;
    padding-top: 10px;
}

hr {
    margin: 0;
}

label {
    display: block;
    margin: 0;
    transition: 0.3s all;
}

label:hover {
    background-color: #dff0d8;S
    transition: 0.5s all;
}

input:checked+.account_row{
    background-color: #5cb85c;
    transition: 0.6s all;
}

.row {
    margin: 0;
}